<%- include("partials/header") -%>
  <section>
    <form action="/search" method="GET">
      <input type="text" name="q" placeholder="Search here">
      <button type="submit">Search</button>
    </form>
  </section>
  
  <section>
    <h2>My Books</h2>
    <% books.forEach( book => {%>
      <div class="book-info" data-id="<%=book._id%>">
        <a href="/books/viewBook/<%=book._id%>">
          <span><%= book.title %></span>
        </a>
        <span><%= book.author %></span>
        <span>added: <%= book.createdAt %></span>
        <img src="<%=book.imageUrl%>" alt="book cover thumbnail">
        <form 
          action="/books/updateBook/<%=book._id%>?_method=PUT"
          method="POST"
        >
          <% if (book.status === 'currently reading') {%>
            <button class="fa-solid fa-book-open" type="submit"></button>
          <% } else if (book.status === 'read') {%>
            <button class="fa-solid fa-square-check" type="submit"></button>
          <% } %>
        </form>
        <!-- <button class="edit-btn">Edit</button> -->
        <form 
          action="/books/deleteBook/<%=book._id%>?_method=DELETE"
          method="POST"
        >
          <button type="submit">Delete</button>
        </form>
        <!-- <button class="delete-btn">Delete</button> -->
      </div>
    <% }) %>
  </section>
  <section>
    <a href="/logout">Logout</a>
  </section>

<%- include("partials/footer") -%>