<%- include("partials/header") -%>

<section class="py-5 profile">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div>
        <h1 class="h3 mb-3 mb-lg-4 border-black border-bottom w-100"><%= user.userName %></h1>
        <section class="user-info mb-5">
          <div><span class="h5 d-inline-block me-3">Username</span> <%= user.userName %></div>
          <div><span class="h5 d-inline-block me-3">Email</span> <%= user.email %></div>
          <div><span class="h5 d-inline-block me-3">Joined</span> <%= user.created %></div>
        </section>

        <section class="user-shelves">
          <h2 class="h4 mb-3 mb-lg-4 border-black border-bottom w-100">My bookshelves</h2>

        </section>
      
        <div>
          <span><%= books.length %> <%= books.length === 1 ? "book:" : "books:" %></span>
          <span><%= books.filter(book => book.status === "reading").length %> currently reading | </span>
          <span><%= books.filter(book => book.status === "read").length %> read</span>
        </div>

        <a href="/logout">Logout</a>
      </div>
    </div>
  </div>
  
</section>

<%- include("partials/footer") -%>