<%- include("partials/header") -%>
  <section>
    <form action="/search" method="GET">
      <input type="text" name="q" placeholder="Search here">
      <button type="submit">Search</button>
    </form>
  </section>
  
  <section>
    <p><a href="/quotes/addQuote">Add a quote</a></p>
  </section>

  <section>
    <% for (const book in quotes) { %>
      <div>
        <h2><%= book %></h2>
        <% quotes[book].forEach(quote => { %>
          <div>
            <p><%= quote.text %></p>
            <!-- <form 
              action="/quotes/updateQuote/<%=quote._id%>?_method=PUT"
              method="POST"
            >
              <button type="submit">Edit</button>
            </form> -->
            <button><a href="/quotes/getQuote/<%=quote._id%>">Edit</a></button>
            <form 
              action="/quotes/deleteQuote/<%=quote._id%>?_method=DELETE"
              method="POST"
            >
              <button type="submit">Delete</button>
            </form>
          </div>
        <% }) %>
      </div>
    <% } %>
  </section>

  <section>
    <a href="/logout">Logout</a>
  </section>

<%- include("partials/footer") -%>