<%- include("partials/header") -%>
  
<section class="quotes">
  <div class="container py-4 px-xl-5">
    <h1 class="text-center">Quotes</h1>
    <button type="button" class="btn btn-link d-block mx-auto mb-4 add-quote-btn" data-bs-toggle="modal" data-bs-target="#addQuoteModal">
      Add a quote
    </button>
    <!-- add quote modal -->
    <div class="modal fade" id="addQuoteModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Add a quote</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/quotes/saveQuote" method="POST">
              <div class="mb-3">
                <label for="quoteText" class="form-label">Quote</label>
                <textarea class="form-control" name="quoteText" id="quoteText" rows="6"></textarea>
              </div>
              <div class="mb-3">
                <label for="bookName">Book title</label>
                <input type="text" class="form-control" name="bookName" id="bookName">
              </div>
              <button type="submit" class="btn btn-outline-dark">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <section class="quotecards-field">
      <% for (const book in quotes) { %>
        <section class="bookquotes mb-4">
          <h2 class="h5"><%= book %></h2>
          <div class="d-flex flex-wrap justify-content-evenly align-items-center">
            <% quotes[book].forEach(quote => { %>
              <section class="quotecard shadow-sm rounded-3 ps-3 pe-0 mx-lg-1 my-2 my-md-3 d-flex">
                <!-- quote text -->
                <div class="quotetext d-flex align-items-center my-2">
                  <span class=""></span>
                  <blockquote class="m-0 ps-3"><%= quote.text %></blockquote>
                </div>
                
                <div class="quote-actions d-flex flex-column justify-content-center">
                  <!-- edit quote button -->
                  <button type="button" class="btn btn-outline" data-bs-toggle="modal" data-bs-target="#editQuoteModal<%=quote._id%>">
                    <i class="fa-solid fa-pen"></i>
                  </button>
                  <!-- edit quote modal -->
                  <div class="modal fade" id="editQuoteModal<%=quote._id%>" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5">Update quote</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form 
                            action="/quotes/updateQuote/<%=quote._id%>?_method=PUT" 
                            method="POST"
                          >
                            <div class="mb-3">
                              <label for="quoteTextEdit" class="form-label">Quote</label>
                              <textarea class="form-control" name="quoteTextEdit" id="quoteTextEdit" rows="6"><%= quote.text %></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-dark">Save</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- delete quote -->
                  <form 
                    action="/quotes/deleteQuote/<%=quote._id%>?_method=DELETE"
                    method="POST"
                  >
                    <button type="submit" class="btn btn-outline fa-solid fa-trash"></button>
                  </form>
                </div>
              </section>
            <% }) %>
          </div>
        </section>
      <% } %>
    </section>
  </div>
</section>

<%- include("partials/footer") -%>