<%- include("partials/header") -%>
<section>
  <form action="/search" method="GET">
    <input type="text" name="query" placeholder="Search here">
    <button type="submit">Search</button>
  </form>
</section>

<section>
  <img src="<%= book.imageUrl %>" alt="">
  <h3><%= book.title %></h3>
  <h4><%= book.subtitle %></h4>
  <h4><%= book.authors %></h4>
  <span><%= book.year %></span>
  <span><%= book.publisher %></span>
  <span><%= book.pageCount %></span>
  <p><%= book.description %></p>
</section>

<%- include("partials/footer") -%>